html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* width + padding + border */
}
*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul, ol, dl {
  list-style: none;
}
ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  line-height: 1;
}
table {
  border-collapse: collapse;
  width: 100%;
}
select:enabled {
  cursor: pointer;
}
/* BASIC CLASS */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.tocenter {
  margin: auto;
}
.toleft {
  float: left;
}
.toright {
  float: right;
}
.vacenter {
  vertical-align: middle;
}
.vatop {
  vertical-align: top;
}
.full-width {
  width: 100%;
}
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ukaz {
  outline: 1px solid red;
  border: 1px solid red;
}

/* CHANGE DEFAULT */
.mdl-layout__header-row {
  padding: 0 24px 0 80px;
}
.mdl-layout--no-drawer-button .mdl-layout__header-row {
  padding-left: 24px;
}
.mdl-tooltip {
  font-size: 11px;
  letter-spacing: 0.02em;
  padding: 12px;
  max-width: 300px;
  text-transform: none;
}
/*.mdl-layout__tab {
  color: rgba(255,255,255,0.6);
  height: 64px;
  line-height: 64px;
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active,
.mdl-layout__tab-bar-button.is-active {
  color: rgb(255,255,255);
}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  height: 3px;
  background: rgb(255,255,255);
}
.mdl-layout__tab-bar-button, .mdl-layout__tab-bar, .mdl-layout__tab-bar-container {
  background-color: #039BE5;
  height: 64px;
}
.mdl-layout__tab-bar-button .material-icons {
  line-height: 64px;
}*/


/* HEADER */
.ui-header-app-row {
  font-size: 12px;
  letter-spacing: .02em;
}
.ui-header .mdl-button.mdl-color-text--blue-grey-50 :hover {
  color: #fff;
}
.ui-header-app-row { /* dopyt, po prerobení hlavičky pôjde preč*/
  height: 40px;
}
.ui-header-page-row {
  height: 56px;
  padding: 0 20px 0 56px;
}
.ui-header-page-row .mdl-layout-title {
  font-size: 18px;
}








.avatar {
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  width: 32px;
  height: 32px;
  line-height: 32px;
}






.search-box {
  border-radius: 2px;
  height: 40px;
  width: 300px;
  padding: 4px 48px;

}
.search-box > * {
  opacity: .7;
}
.search-box.is-focused > * {
  opacity: 1;
}
.search-box.is-focused .mdl-textfield__label:after {
  visibility: hidden;
}
.search-box .mdl-button--icon {
  position: absolute;
}
.search-box input[type=text]::-ms-clear { /* ie hidden clear "x" */
    display: none;
}





/* empty state */
.ui-no-item {
  width: 300px;
  height: 110px;
  text-align: center;
}
.no-item-alert {
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  padding-top: 32px;
}

.container { /* dopyt, v každom skripte môže byť iný */
  max-width: 1200px;
}

.mdl-color--light-blue-600 .data-table th {
  color: #ECEFF1;
}

/* BASIC TABLE */
.data-table tr:not(:first-of-type) {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}
.data-table tr.row-echo:hover {
  background-color: #ECEFF1;
}
.data-table th {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.2;
  color: rgba(0,0,0,.56);
  position: relative;
  height: inherit;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.data-table td {
  height: inherit;
  font-size: 13px;
  color: rgba(0,0,0,.87);
  line-height: 1.2;
  position: relative;
  padding: 0;
}
.data-table td strong {
  font-weight: 500;
}
.data-table.highlight-row tr.row-echo, .highlight-list li {
  transition: all ease-in-out .25s;
}
.data-table.highlight-row tr.selected, .highlight-list li.selected {
  background-color: #4FC3F7;
}
.data-table.highlight-row tr.row-echo:not(.selected):hover, .highlight-list li:not(.selected):hover {
  background-color: #E1F5FE;
}
.data-table.highlight-row td label, .highlight-list li label {
  display: block;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  background-color: ;
}


/* LAYOUT TABLE */
.ui-table tr {
  height: 40px;
}
.ui-table th:first-of-type, .ui-table td:first-of-type {
  padding-left: 24px;
}
.ui-table th:last-of-type, .ui-table td:last-of-type {
  padding-right: 24px;
}
@media screen and (max-width: 1024px) {
  .ui-table td:first-of-type, .ui-table th:first-of-type {
    padding-left: 8px;
  }
  .ui-table td:last-of-type, .ui-table th:last-of-type {
    padding-right: 8px;
  }
}
.ui-table th .md-18 {
  vertical-align: -5px;
}
.ui-table-pagination {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui-table-pagination .mdl-textfield__input { /* dopyt, ešte sa pohrať*/
  font-size: 12px;
  display: inline;
  margin: 0 4px;
  width: auto;
}




/* GRID TABLE */
.grid-table col:not(:first-of-type) {
  border-left: 1px solid lightgrey;
}
.grid-table tr {
  height: 30px;
}
.grid-table tr:last-of-type {
  border: 0;
}
.grid-table th {
  font-size: 12px;
  height: 24px;
  text-align: center;
}
.grid-table td {
  text-align: center;
  height: 24px;
}
.grid-table td:first-of-type, .grid-table th:first-of-type {
  padding: 0;
}
.grid-table td:last-of-type, .grid-table th:last-of-type {
  padding: 0;
}
.grid-table-tools .mdl-button, .grid-table-tools .mdl-menu__item {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.grid-table-tools .material-icons {
  margin: -1px 16px 0 0;
}



@media screen and (min-width: 840px) {
  .row-form .mdl-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.row-form .mdl-navigation__link {
  padding: 12px 0 12px 24px;
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 840px) {
  .row-form .mdl-navigation__link {
    padding: 12px 24px 12px 24px;
  }
}
.row-form .mdl-navigation__link:hover {
  background-color: #E0E0E0;
}
.row-form .mdl-navigation__link.active {
  color: #fff;
  font-weight: 500;
  background-color: #039BE5;
}
.row-form-content legend {
  min-width: 48px;
  margin-top: 16px;
}
.row-form > td {
  padding-top: 16px;
  padding-bottom: 8px;


}


.row-form-content .mdl-textfield {
  /*height: 64px;*/
  /*line-height: 1;*/

}

.row-echo .mini-icon-btn {
  height: 24px;
  min-width: 24px;
  width: 24px;

}









.dot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: inline-block;
}








/* FOOTER */
.mdl-mini-footer .mdl-logo, .mdl-mini-footer__link-list a {
  font-size: 12px;
  font-weight: 400;
}
.mdl-mini-footer__link-list a:hover {
  text-decoration: underline;
}






.text-chip {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 9px;
  padding: 3px 9px;
}










.external-link:after {
  display: inline-block;
  font-family: 'Material Icons';
  content: 'open_in_new';
  font-size: 16px;
  vertical-align: top;
  margin-left: 4px;
}

.dropdown-arrow:after {
  display: inline-block;
  font-family: 'Material Icons';
  content: 'arrow_drop_down';
  font-size: 24px;
  vertical-align: middle;
  margin-left: 0px;
}





#uvolni {
  padding: 16px;
}
#row_form_close {
  position: absolute;
  top: 6px;
  right: 8px;
}

[onclick] {
  cursor: pointer;
}

/* BUTTON */
.page-nav-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 56px;
  min-width: 56px;
  padding: 8px;
  border-radius: 50%;
}
.page-nav-btn:first-of-type {
  left: 0;
}
.page-nav-btn:last-of-type {
  right: 0;
}



/* MODAL */















/* INPUT */
/*.mdl-textfield.is-dirty .mdl-textfield__label.label-static {
  visibility: visible;
  position: static;
  font-size: 14px;
}*/



/* MATERIAL ICONS */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.orange600 { color: #FB8C00; }