/* LAYOUT */
.ui-container {
  max-width: 1280px;
  /*min-width: 800px;*/
}
/* first and last col */
.ui-list th:first-of-type, .ui-list td:first-of-type {
  padding-left: 24px;
}
.ui-list th:last-of-type, .ui-list td:last-of-type {
  padding-right: 24px;
}
@media screen and (max-width: 1024px) {
  .ui-list th:first-of-type, .ui-list td:first-of-type {
    padding-left: 16px;
  }
  .ui-list th:last-of-type, .ui-list td:last-of-type {
    padding-right: 16px;
  }
}
/* HEADER */
.ui-header {
  min-height: 136px;
}
@media screen and (max-width: 1024px) {
  .ui-header {
    min-height: 128px;
  }
}
.wrap-ui-list.mdl-layout__header-row {
  height: 32px;
  padding: 0;
}
table.ui-list {
  table-layout: fixed;
}
/* list header */
.ui-list-header th {
  color: rgba(255,255,255,.7);
  height: 32px;
  vertical-align: top;
  letter-spacing: .04em;
}
.ui-list-header:not(.two-line) th {
  padding-top: 4px;
}
.ui-list-header th .md-18 {
  float: right;
  margin-top: -4px;
  margin-left: 4px;
}
/* CONTENT */
.ui-content .wrap-ui-list {
  background-color: #fff;
}
.ui-list-content tr {
  height: 36px;
}
@media screen and (min-height: 800px) {
  .ui-list-content tr {
    height: 40px;
  }
}
@media screen and (min-height: 920px) {
  .ui-list-content tr {
    height: 44px;
  }
}
@media screen and (min-height: 1040px) {
  .ui-list-content tr {
    height: 48px;
  }
  .ui-list-content tr td {
    font-size: 0.9285714285714286em; /* 13/14 */
  }
}


.ui-row-echo:hover .text-link {
  border-bottom: 1px solid currentColor;
}
.ui-row-echo .text-link:hover {
  color: rgb(3,169,244);
}

.ui-row-echo label {
  vertical-align: middle;
}


.ui-list-content .ui-row-echo .mdl-button--icon {
  color: rgba(0,0,0,.4);
  margin: 0 2px;
}


.ui-list-content .ui-row-echo .mdl-checkbox__box-outline {
  border-color: rgba(0,0,0,.4);
}

.ui-list-content .ui-row-echo:not(:first-of-type) {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}
.ui-list-content .ui-row-echo:hover {
  /*background-color: #ECEFF1;*/
  background-color: rgba(3,155,229,.1);
}
/* row form */
.ui-list .ui-row-form > td {
  background-color: #fff;
  vertical-align: top;
}
.ui-list .ui-row-form > td {
  padding-top: 16px;
  padding-bottom: 8px;
}
#row_form_close {
  position: absolute;
  top: 6px;
  right: 8px;
}
/* list footer */
.ui-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: rgba(0,0,0,.54);
  height: 40px;
}
.ui-list-footer .mdl-textfield__input {
  font-size: 12px;
  display: inline;
  margin: 0 8px;
  width: auto;
  color: rgba(0,0,0,.87);
}
/* empty state */
.ui-no-item {
  width: 300px;
  height: 120px;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  z-index: 10;
  left: 50%;
  margin-left: -150px;
}


